* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: var(--blue-black);
}

#root {
  overflow-x: hidden;
}

/*================= COLOR SCHEME =================*/
:root {
  --text-black: #0f1a20;
  --blue-black: #0A2E36;
  --bg-black: #1F1F1F;
  --dark-blue: #0075A2;
  --dark-grey: #444444;
  --text-grey: #798071;
  --grey: #999999;
  --logo-color: #D8183A;
  --light-grey: #BBBBBB;
  --red: #F42C04;
  --purple: #9C528B;
  --light-green: #ACF39D;
}

/*================= SCROLL-BAR =================*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey);
}

@media (max-width: 888px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
  }
}
