* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

body {
    overflow: hidden;
}
/* About Us */
.aboutUs {
    height: 200vh;
    width: 100%;
}

#topLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 366;
    transform: translate(-50%, -50%);
}

#topRight {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 276;
    transform: translate(50%, -50%);
}

#bottomRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 366;
    transform: translate(50%, 50%);
}

.abtLeft {
    margin-top: 25vh;
    height: 80vh;
    width: 50%;
    float: left;
}

.abtLeftCentered {
    display: block;
    margin-left: 15%;
    width: 80%;
}

.abtLeft span {
    color: #ffffff;
    padding: 4px 20px;
    border-radius: 74px;
    background-color: #d71e3c;
    margin-right: 4px;
}

.abtLeft h1 {
    text-transform: uppercase;
    font-size: 94px;
    padding-bottom: 15px;
    color: #d71e3c;
}

.line{
    position: absolute;
    left: 0px;
    width: 6%;
    transform: translateY(12px);
}

.abtLeft p{
    font-size: 24px;
    letter-spacing: 64;
}

.abtLeft blockquote {
    padding-bottom: 30px;
    font-size: 34px;
    font-style: italic;
    color: #212121;
}

.abtRight {
    height: 100vh;
    width: 50%;
    float: right;
    text-align: center;
}

#logo{
    position: absolute;
    top: 50%;
    right: 25%;
    width: 150px;
    height: 200px;
    margin: 0px auto;
    transform: translate(50%,-50%);
}

#fOne{
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    right: 25%;
    margin: 0px auto;
    transform: translate(50%,-50%);
    transition: ease 155ms;
}

#ballOne{
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    transform: translate(430px,190px);
}

#rOne{
    width: 450px;
    height: 450px;
    z-index: -1;
}

#fTwo{
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    right: 25%;
    margin: 0px auto;
    transform: translate(50%,-50%);
    transition: ease 155ms;
}

#ballTwo{
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    transform: translate(85px,55px);
}

#rTwo{
    opacity: 0.65;
    width: 590px;
    height: 590px;
    z-index: -1;
}

#fThree{
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    right: 25%;
    margin: 0px auto;
    transform: translate(50%,-50%);
    transition: ease 200ms;
}

#ballThree{
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    transform: translate(30px,530px);
}

#rThree{
    opacity: 0.35;
    width: 740px;
    height: 740px;
    z-index: -1;
}

#fFour{
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    right: 25%;
    margin: 0px auto;
    transform: translate(50%,-50%);
}

#rFour{
    opacity: 0.15;
    width: 890px;
    height: 890px;
    z-index: -1;
}

.mobileAtom{
    display: none;
}

/* For responsive design */

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    /* About Us */
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .aboutUs {
        height: auto;
    }

    #topLeft {
        display: none;
    }

    #topRight {
        display: none;
    }

    #bottomRight {
        display: none;
    }

    .abtLeft {
        margin-top: 10vh;
        height: auto;
        width: 100%;
        float: none;
    }

    .abtLeftCentered {
        left: 0;
        right: 0;
        display: block;
        margin: 0;
        margin: 0px auto;
        width: 80%;
    }

    .abtLeft span {
        color: #ffffff;
        padding: 10px 25px;
        border-radius: 35px;
        background-color: #d71e3c;
    }

    .abtLeft h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        padding-bottom: 15px;
    }

    .abtLeft blockquote {
        text-align: center;
        padding-bottom: 30px;
        font-style: italic;
        color: #212121;
        font-size: 20px;
    }

    .line{
        display: none;
    }

    .abtLeft p {
        font-size: 18px;
        text-align: justify;
    }

    .abtRight {
        margin-top: none;
        height: auto;
        width: 100%;
        float: none;
        text-align: center;
    }

    #rFour,#fFour,#rThree,#ballThree,#fThree,#rTwo,#ballTwo,#fTwo,#logo,#fOne,#ballOne,#rOne{
        display: none;
    }

    .mobileAtom{
        width: 100%;
        display: block;
    }
    
}
