* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

body {
    overflow: hidden;
}
/* About Us */
.aboutUs {
    height: 200vh;
    width: 100%;
}

#topLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 366;
    transform: translate(-50%, -50%);
}

#topRight {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 276;
    transform: translate(50%, -50%);
}

#bottomRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 366;
    transform: translate(50%, 50%);
}

.abtLeft {
    margin-top: 25vh;
    height: 80vh;
    width: 50%;
    float: left;
}

.abtLeftCentered {
    display: block;
    margin-left: 15%;
    width: 80%;
}

.abtLeft span {
    color: #ffffff;
    padding: 4px 20px;
    border-radius: 74px;
    background-color: #d71e3c;
    margin-right: 4px;
}

.abtLeft h1 {
    text-transform: uppercase;
    font-size: 94px;
    padding-bottom: 15px;
    color: #d71e3c;
}

.line{
    position: absolute;
    left: 0px;
    width: 6%;
    transform: translateY(12px);
}

.abtLeft p{
    font-size: 24px;
    letter-spacing: 64;
}

.abtLeft blockquote {
    padding-bottom: 30px;
    font-size: 34px;
    font-style: italic;
    color: #212121;
}

.abtRight {
    height: 100vh;
    width: 50%;
    float: right;
    text-align: center;
}

.abtRight img{
    position: absolute;
    top:50%;
    right: 25%;
    transform: translate(50%,-50%);
    height: 896px;
}

/* For responsive design */

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    /* About Us */
    body {
        overflow: scroll;
    }
    .aboutUs {
        height: auto;
    }

    #topLeft {
        display: none;
    }

    #topRight {
        display: none;
    }

    #bottomRight {
        display: none;
    }

    .abtLeft {
        margin-top: 10vh;
        height: auto;
        width: 100%;
        float: none;
    }

    .abtLeftCentered {
        left: 0;
        right: 0;
        display: block;
        margin: 0;
        margin: 0px auto;
        width: 80%;
    }

    .abtLeft span {
        color: #ffffff;
        padding: 10px 25px;
        border-radius: 35px;
        background-color: #d71e3c;
    }

    .abtLeft h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        padding-bottom: 15px;
    }

    .abtLeft blockquote {
        text-align: center;
        padding-bottom: 30px;
        font-style: italic;
        color: #212121;
        font-size: 20px;
    }

    .line{
        display: none;
    }

    .abtLeft p {
        font-size: 18px;
        text-align: center;
    }

    .abtRight {
        margin-top: none;
        height: auto;
        width: 100%;
        float: none;
        text-align: center;
    }

    .abtRight img {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0px auto;
        display: block;
        transform: none;
        right: 0;
        left: 0px;
    }
}
