* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

body {
    overflow: hidden;
}
/* About Us */
.aboutUs {
    height: 100vh;
    width: 100%;
}

#topLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    transform: translate(-50%, -50%);
}

#topRight {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40%;
    transform: translate(50%, -50%);
}

#bottomRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 60%;
    transform: translate(50%, 50%);
}

.abtLeft {
    margin-top: 25vh;
    height: 80vh;
    width: 40%;
    float: left;
}

.abtLeftCentered {
    display: block;
    margin-left: 15%;
    width: 80%;
}

.abtLeft span {
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 35px;
    background-color: #d71e3c;
}

.abtLeft h1 {
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 15px;
    color: #d71e3c;
}

.abtLeft blockquote {
    padding-bottom: 30px;
    font-style: italic;
    color: #212121;
}

.abtRight {
    margin-top: 10vh;
    height: 80vh;
    width: 60%;
    float: right;
    text-align: center;
}

.abtRight img {
    width: 60%;
    margin: 0px auto;
    display: block;
}

/* For responsive design */

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    /* About Us */
    body {
        overflow: scroll;
    }
    .aboutUs {
        height: auto;
    }

    #topLeft {
        display: none;
    }

    #topRight {
        display: none;
    }

    #bottomRight {
        display: none;
    }

    .abtLeft {
        margin-top: 20vh;
        height: auto;
        width: 100%;
        float: none;
    }

    .abtLeftCentered {
        left: 0;
        right: 0;
        display: block;
        margin: 0;
        margin: 0px auto;
        width: 80%;
    }

    .abtLeft span {
        color: #ffffff;
        padding: 10px 25px;
        border-radius: 35px;
        background-color: #d71e3c;
    }

    .abtLeft h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        padding-bottom: 15px;
    }

    .abtLeft blockquote {
        text-align: center;
        padding-bottom: 30px;
        font-style: italic;
        color: #212121;
    }

    .abtLeft p {
        text-align: justify;
    }

    .abtRight {
        margin-top: none;
        height: auto;
        width: 100%;
        float: none;
        text-align: center;
    }

    .abtRight img {
        width: 90%;
        margin: 0px auto;
        display: block;
    }
}
