.logoContainer {
  display: inline-flex;
  align-items: center;
  padding: 0 64px;
}

.logoImg {
  border-radius: 5px;
  margin: 3px;
}

.logoContainer > a {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 1.9rem;
}

/*===================== MEDIA QUERIES =====================*/

@media (max-width: 888px) {

  .logoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .logoImg {
    height: 32px;
    width: 32px;
  }

  .logoContainer > a {
    font-size: 1.4rem;
  }

}