.contactUs {
  position: relative;
  min-height: 100vh;
  padding-top: 12vh;
  overflow: hidden;
}

.headingContainer {
  width: fit-content;
  margin: 0 auto;
}

.headingContainer > p {
  color: var(--logo-color);
  font-weight: bold;
  font-size: 1.4rem;
  margin: 14px 0;
}

.headingDesc {
  margin: 44px;
  text-align: center;
  color: var(--blue-black);
  letter-spacing: 1px;
  line-height: 28px;
}

.ellipse {
  position: absolute;
  right: -150px;
  top: 200px;
  height: 350px;
  z-index: -1;
}

.mask {
  position: absolute;
  left: -60px;
  top: 750px;
  height: 220px;
  z-index: -1;
}

/*================= MEDIA QUERIES =================*/
@media (max-width: 888px) {
  .headingContainer > p {
    font-size: 1rem;
  }

  .headingDesc {
    margin: 24px;
    font-size: 0.95rem;
    line-height: 24px;
    letter-spacing: 0;
  }

  .mask {
    height: 150px;
    top: 900px;
    left: -50px;
  }
}
