* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

.specialPage {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.specialPage h1 {
    font-size: 62px;
    padding-top: 10vh;
    padding-bottom: 25px;
}

.specialPage span {
    padding: 10px 25px;
    color: #ffffff;
    background-color: #d71e3c;
    border-radius: 63px;
}

#bottomLeft {
    height: 366px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
}

#topRight {
    height: 366px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(55%, -55%);
}

#maskGroup1 {
    position: absolute;
    height: 270px;
    top: 50%;
    left: 0;
    transform: translate(-40%, -50%);
}

#maskGroup2 {
    position: absolute;
    height: 270px;
    top: 50%;
    right: 0;
    transform: translate(40%, -50%);
}

.centeredDiv {
    height: 60vh;
    width: 75%;
    margin: 0px auto;
}

.card {
    display: inline-block;
    height: 60vh;
    width: 30%;
    text-align: center;
}

.card h2{
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 33px;
}

.card img {
    height: 230px;
    width: 290px;
    padding-top: 50px;
}

.card a {
    text-decoration: none;
    color: #d71e3c;
}

.card p{
    font-size: 24px;
    width: 327px;
    margin: 0px auto;
}

@media screen and (max-width: 640px) {
    body {
        overflow: scroll;
    }

    #bottomLeft {
        display: none;
    }

    #topRight {
        display: none;
    }

    #maskGroup {
        display: none;
    }

    #maskGroup1 {
        display: none;
    }

    #maskGroup2 {
        display: none;
    }

    .specialPage h1 {
        font-size: 2rem;
        padding: 0px 20px;
        padding-top: 15vh;
        line-height: 3rem;
    }

    .centeredDiv {
        height: auto;
        width: 90%;
        margin: 0px auto;
    }

    .card {
        display: inline-block;
        height: auto;
        width: 100%;
        text-align: center;
    }
    
    .card h2{
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 25px;
    }
    
    .card img {
        height: 130px;
        width: 190px;
        padding-top: 50px;
    }
    
    .card p{
        font-size: 20px;
        width: 327px;
        margin: 0px auto;
    }
}
