.appPage {
  position: relative;
  height: 100vh;
  width: 100%;
}

.bottomLeft {
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.bottomRight {
  position: absolute;
  height: 35%;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.colOne {
  display: inline-block;
  width: 40%;
  height: 100vh;
  color: var(--logo-color);
}

.centerDiv {
  width: 30%;
  position: absolute;
  display: block;
  text-align: right;
  transform: translateY(40vh);
  margin-left: 10%;
}

.colOne h1 {
  font-size: 2.5rem;
  padding-bottom: 25px;
  font-weight: 700;
}

.colOne span {
  padding: 10px 20px;
  background-color: var(--logo-color);
  border-radius: 35px;
  color: #ffffff;
}

.colOne p {
  font-size: 1.3rem;
  padding-bottom: 30px;
  color: black;
}

.colOne a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 20px;
  transition: ease 150ms;
}
.colOne a:hover {
  word-spacing: 1px;
}

.colTwo {
  display: inline-block;
  width: 25%;
  height: 100vh;
  text-align: center;
}

.colTwo img {
  display: block;
  text-align: center;
  height: 80%;
  margin: 0px auto;
  transform: translateY(15%);
  user-select: none;
}

.colThree {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 35%;
  height: 100vh;
}

.colThree img {
  height: 10%;
  padding: 10px 0px;
  transform: translateY(40vh);
}

.dellipse {
  position: absolute;
  transform: translate(-50%, -30%);
  left: 0px;
  height: 70%;
}

.tellipse {
  position: absolute;
  top: 0px;
  transform: translate(50%, -50%);
  right: 0px;
  height: 60%;
}

/*================= MEDIA QUERIES =================*/
@media (max-width: 888px) {
  .appPage {
    height: auto;
    padding-top: 10vh;
  }

  .bottomLeft {
    display: none;
  }

  .bottomRight {
    display: none;
  }

  .appPage {
    height: auto;
  }

  .colOne {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
  }

  .centerDiv {
    width: 90%;
    position: relative;
    display: block;
    margin: 0px auto;
    text-align: center;
    transform: none;
    margin-bottom: 20px;
  }

  .colOne h1 {
    padding: 0;
    font-size: 2rem;
    padding-bottom: 25px;
    font-weight: 700;
  }

  .colOne span {
    padding: 8px 16px;
    background-color: var(--logo-color);
    border-radius: 35px;
  }

  .colOne p {
    font-size: 1rem;
    padding-bottom: 30px;
  }

  .colOne a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom:45px ;
    transition: ease 150ms;
  }

  .colTwo {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px auto;
    text-align: center;
  }

  .colTwo img {
    display: block;
    text-align: center;
    width: 50%;
    height: 40%;
    margin: 0px auto;
    user-select: none;
    transform: none;
  }

  .colThree {
    display: block;
    position: relative;
    right: 0;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .colThree img {
    text-align: center;
    display: block;
    height: 40px;
    padding: 0px 0px;
    margin: 0px auto;
    transform: none;
  }

  .dellipse {
    position: absolute;
    transform: translate(-50%, -30%);
    left: 0px;
    height: 70%;
    display: none;
  }

  .tellipse {
    position: absolute;
    top: 0px;
    transform: translate(50%, -50%);
    right: 0px;
    height: 60%;
    display: none;
  }
}
