.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  transition: 0.15s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}
