.aboutUs {
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: 25vh;
}

.abtLeft {
  width: 50%;
  margin-bottom: 100px;
}

.abtLeftCentered {
  display: block;
  margin-left: 15%;
  width: 80%;
}

.abtLeftCentered blockquote {
  font-size: 1.2rem;
  color: black;
}

.abtLeftCentered blockquote::before {
  display: inline-block;
  content: "";
  width: 80px;
  height: 3px;
  margin-right: 7px;
  background-color: black;
  transform: translateY(-6px);
}

.abtLeft span {
  color: #ffffff;
  background-color: var(--logo-color);
  padding: 4px 20px;
  border-radius: 74px;
}

.abtLeft h1 {
  text-transform: uppercase;
  font-size: 72px;
  padding-bottom: 15px;
  color: var(--logo-color);
}

.abtLeft p{
  font-size: 1.2rem;
  word-spacing: 1px;
  line-height: 2rem;
  color: var(--dark-grey);
}

.abtLeft blockquote {
  padding-bottom: 30px;
  font-style: italic;
  color: #212121;
}

.abtRight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60vh;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 200px;
}

.fOne {
  position: absolute;
  width: 350px;
  transition: ease 0.3s;
}

.fTwo {
  position: absolute;
  width: 470px;
  transition: ease 0.5s;
}

.fThree{
  position: absolute;
  width: 631px;
  transition: ease 1s;
}

.fFour{
  position: absolute;
  width: 846px;
}

/*================= MEDIA QUERIES =================*/
@media (max-width: 888px) {
  .aboutUs {
    height: auto;
    flex-direction: column;
    margin-top: 10vh;
  }

  .abtLeft {
    margin-top: 20vh;
    height: auto;
    width: 100%;
    float: none;
  }

  .abtLeftCentered blockquote::before {
    width: 0;
  }

  .abtLeftCentered {
    left: 0;
    right: 0;
    display: block;
    margin: 0;
    margin: 0px auto;
    width: 80%;
  }

  .abtLeftCentered > p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .abtLeft span {
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 35px;
    background-color: var(--logo-color);
  }

  .abtLeft h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 15px;
  }

  .abtLeft blockquote {
    text-align: center;
    padding-bottom: 30px;
    font-style: italic;
    color: #212121;
  }

  .abtRight {
    height: 30vh;
    width: 100%;
  }

  .logo {
    width: 60px;
  }

  .fOne {
    width: 130px;
  }

  .fTwo {
    width: 175px;
    transition: ease 0.3s;
  }

  .fThree{
    width: 235px;
    transition: ease 0.3s;
  }

  .fFour{
    width: 315px;
  }
}
