.teams {
  position: relative;
  min-height: 100vh;
  padding-top: 12vh;
  margin-bottom: 200px;
}

.headingContainer {
  width: 35vw;
  margin: 0 auto;
  text-align: center;
}

.headingContainer > p {
  margin: 32px;
  color: var(--blue-black);
  letter-spacing: 1px;
  line-height: 28px;
}

.ellipse {
  position: absolute;
  left: -100px;
  top: -120px;
  height: 380px;
  z-index: -1;
}

.mask {
  position: absolute;
  left: 60px;
  bottom: -300px;
  height: 220px;
  z-index: -1;
}

.row {
  display: flex;
  width: 85vw;
  margin: 86px auto 24px auto;
  justify-content: space-around;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.profileImg {
  width: 100%;
  border-radius: 50%;
}

.position {
  padding: 8px 16px;
  margin-top: 44px;
  margin-bottom: 24px;
  border-radius: 16px;
  color: white;
  background-color: var(--logo-color);
}

.name {
  font-size: 1.8rem;
}

.socialIcons img {
  height: 40px;
  margin: 24px 6px;
  filter: brightness(0%);
}

.socialIcons img:hover {
  filter: none;
}

/*================= MEDIA QUERIES =================*/
@media (max-width: 888px) {
  .headingContainer {
    width: 98vw;
  }

  .headingContainer > p {
    margin-top: 24px;
  }

  .ellipse {
    height: 200px;
    left: -60px;
  }

  .mask {
    height: 160px;
    bottom: -130px;
    left: -40px;
  }

  .row {
    flex-direction: column;
    margin: 0 auto;
  }

  .profile {
    margin: 24px auto;
  }

  .position {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .socialIcons img {
    margin: 14px 6px;
  }
}
