/* Heading having different color transitions:

.heading > h1::before {
  content: "Club Gamma";
  position: absolute;
  background: linear-gradient(90deg, #8455C7, #F55182, #E74D4A, #F9C52A, #46DCD8, #007FEE, #8455C7);
  background-size: 300%;
  overflow: hidden;
  transition: width 2s;
  animation: animate 20s linear infinite;
  width: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  0% {
    background-position: 300% 0;
  } 
  100% {
    background-position: 0 0;
  }
}
*/
