.main {
  margin-top: 130px;
  display: flex;
  width: 100%;
}

.headingContainer {
  flex: 1;
  position: relative;
}

.heading {
  position: absolute;
  top: 30%;
  left: 20%;
}

.heading > h1 {
  font-size: 6rem;
  margin: 10px 0;
}

.heading > h1::before {
  content: "Club Gamma";
  position: absolute;
  background: linear-gradient(90deg, #8455C7, #F55182, #E74D4A, #F9C52A, #46DCD8, #007FEE, #8455C7);
  background-size: 300%;
  overflow: hidden;
  transition: width 2s;
  animation: animate 20s linear infinite;
  width: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  0% {
    background-position: 300% 0;
  } 
  100% {
    background-position: 0 0;
  }
}

.heading > p {
  font-size: 1.5rem;
  color: var(--blue-black);
}

.heading > p::before {
  background-image: url('../../assets/images/double-quotes.png');
  background-size: 10px 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
  content: "";
  margin-bottom: 10px;
  margin-right: 10px;
  transform: rotate(180deg);
}

.heading > p::after {
  background-image: url('../../assets/images/double-quotes.png');
  background-size: 10px 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
  content: "";
  margin-bottom: 10px;
  margin-left: 10px;
}

.atom {
  margin: 0 3vw;
}
